1200+-content-ideas-per-day-9xB4cWJrwT5aVSHN.json
{"createdAt":"2025-05-12T12:12:49.754Z","updatedAt":"2025-05-12T15:13:31.000Z","id":"9xB4cWJrwT5aVSHN","name":"1200+ Content Ideas per day","active":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-180,140],"id":"89b21450-5908-4663-929a-7eaa149fe5f5","name":"When chat message received","webhookId":"18d4cde8-4b6a-43e7-909c-b06306efce16","disabled":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/p7UMdpQnjKmmpR21D/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"commentsSortBy\": \"0\",\n  \"maxComments\": {{ $json['No of Comments'] || 10 }},\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json['Video Link'] }}\",\n      \"method\": \"GET\"\n    }\n  ]\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"def91d5e-397c-41b9-a665-38eb0cca7d62","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"wxbq0mOYpLPzvqbr","name":"Apify Header Auth account"}}},{"parameters":{"formTitle":"YouTube Comments Extractor","formFields":{"values":[{"fieldLabel":"Video Link","requiredField":true},{"fieldLabel":"No of Comments","fieldType":"number"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-180,-160],"id":"58adf5a4-b897-4ad2-b169-8cd84d1f4751","name":"On form submission","webhookId":"9d051b00-4990-4baa-b898-006716b6f98c"},{"parameters":{"promptType":"define","text":"=You are a helpful, intelligent social media manager and content assistant.\n\nPlease review the following comment.\n\nComment : {{ $json.comment }}","options":{"systemMessage":"=# Overview\nYou are an AI agent responsible for analyzing YouTube comments and determining whether they contain a relevant idea or inspiration for new content on a creator's YouTube channel.\n\n## Context\n[CREATOR NAME] is a [BRIEF DESCRIPTION OF EXPERTISE OR NICHE].\nThe channel focuses on [TOPIC AREAS / CATEGORIES / PLATFORMS].\nThe goal is to identify YouTube comments that could inspire tutorials, strategy breakdowns, Q&A content, walkthroughs, or relevant thought leadership pieces.\nComments should be evaluated for their potential to lead to videos that resonate with the target audience and align with the creator’s unique expertise.\n\n## Instructions\nRead the YouTube comment provided via input.\nEvaluate whether the comment contains one or more of the following types of content opportunities (customize as needed):\nA direct or indirect suggestion for a tutorial, walkthrough, or explainer video.\nA question that highlights a topic the creator could expand on in a future video.\nFeedback or confusion that shows a gap in understanding or demand for more clarity.\nA mention of relevant trends, tools, challenges, or opportunities in the niche.\nA reference to the creator’s past work or case studies that could spark deeper dives.\nCuriosity or ideas related to the core skills or services the creator is known for.\n\n## Output only:\n\"Yes\" → if the comment contains a viable idea for content.\n\"No\" → if the comment lacks any clear or implied topic for content development.\n\n## Tools\nExamples\nInput: \"[EXAMPLE COMMENT A – relevant question or suggestion]\"\nOutput: Yes\nInput: \"[EXAMPLE COMMENT B – off-topic or generic praise]\"\nOutput: No\nInput: \"[EXAMPLE COMMENT C – critique or confusion about a tool/method]\"\nOutput: Yes\n\n## SOP (Standard Operating Procedure)\nParse the YouTube comment.\nCompare the comment to the criteria listed under Instructions.\nDetermine if it presents a content opportunity aligned with the creator's focus.\nOutput \"Yes\" or \"No\" accordingly.\n\n## Final Notes\nTune the relevance criteria based on the creator’s niche, brand, and video style.\nExclude vague praise or off-topic remarks.\nLean toward inclusion if the comment points to a content angle that adds value to the audience."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[440,0],"id":"5668b278-773c-4790-b846-e1d316ba012a","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[300,300],"id":"d4a1dbc0-9a62-46cf-b809-18939c3fe8d3","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","tableName":"n8n_content_ideas_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[520,260],"id":"24361ae8-44d2-4252-b33c-230f12bd9a25","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e5e6315d-cb07-4a17-ae58-5aa720ca0282","name":"cid","value":"={{ $('HTTP Request').item.json.cid }}","type":"string"},{"id":"a479d7e4-0d87-470d-9901-ab18081407bf","name":"pageUrl","value":"={{ $('HTTP Request').item.json.pageUrl }}","type":"string"},{"id":"ccf8cf25-6b75-4c15-ac6b-600494b01311","name":"title","value":"={{ $('HTTP Request').item.json.title }}","type":"string"},{"id":"ab188f1b-ea92-4da3-bfcb-693637bc409f","name":"videoId","value":"={{ $('HTTP Request').item.json.videoId }}","type":"string"},{"id":"e159dd54-f2e4-4693-ba50-e6b9e5e535ab","name":"title","value":"={{ $('HTTP Request').item.json.title }}","type":"string"},{"id":"d6cc441e-05d3-4518-8357-60be23877127","name":"type","value":"={{ $('HTTP Request').item.json.type }}","type":"string"},{"id":"58c419cc-8ae0-4f42-abac-2c6337fd0760","name":"comment","value":"={{ $('HTTP Request').item.json.comment }}","type":"string"},{"id":"78583c7b-9875-4075-80d5-8bdaf0aa51c4","name":"replyCount","value":"={{ $('HTTP Request').item.json.replyCount }}","type":"number"},{"id":"dfa2c4a0-4117-4fe3-91a9-e0e00f1a397f","name":"voteCount","value":"={{ $('HTTP Request').item.json.voteCount }}","type":"number"},{"id":"80ef1ab1-8f57-4eea-aac0-d4b9a35e2972","name":"publishedTimeText","value":"={{ $('HTTP Request').item.json.publishedTimeText }}","type":"string"},{"id":"85a9804b-8390-491b-ad8b-f4b8a503fccd","name":"replyToCid","value":"={{ $('HTTP Request').item.json.replyToCid }}","type":"string"},{"id":"236f24ee-c988-47ce-b1bf-fe45d46a9e5f","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,0],"id":"4598e424-9258-4702-bb43-4b6ff4400b22","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d29bfd3-5790-49f0-9f0d-315142bbe829","leftValue":"={{ $json.output }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1120,0],"id":"8ae94808-8353-4559-b343-a6e3dc50e015","name":"Filter"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"188IMsGiDVGl_aUMCTU02qoUHYlKMWTDZgE3m0Oxv8-Q","mode":"list","cachedResultName":"Content Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/188IMsGiDVGl_aUMCTU02qoUHYlKMWTDZgE3m0Oxv8-Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/188IMsGiDVGl_aUMCTU02qoUHYlKMWTDZgE3m0Oxv8-Q/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1460,0],"id":"ff902fa5-2d27-45fe-a0fa-3456d1e3049a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"0SYUzfKG5IlAK8aJ","name":"Google Sheets account"}}}],"connections":{"When chat message received":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86e1ee9b-af6f-4a4b-bae0-faea433df3a6","triggerCount":1,"tags":[{"createdAt":"2025-05-01T04:59:36.295Z","updatedAt":"2025-05-01T04:59:36.295Z","id":"EcgsYmXdzCV4RHEz","name":"Scrape"}]}