chat-with-pinecone-database-z3qURZsykuLU74vu.json
{"createdAt":"2025-05-09T06:30:35.971Z","updatedAt":"2025-05-09T16:10:50.000Z","id":"z3qURZsykuLU74vu","name":"Chat with Pinecone Database","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.5,"position":[220,0],"id":"58a2395d-fd88-449a-888c-04b2868bc4ac","name":"Question and Answer Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,220],"id":"b7a6850e-fce8-4e40-b2ce-393b3cfbfa92","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"0FlFlklwPx3y4vk4","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[360,220],"id":"07df06d7-31fe-4c59-a242-dec6816fcd3c","name":"Vector Store Retriever"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"n8nfiles","mode":"list","cachedResultName":"n8nfiles"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[300,400],"id":"ee15f0ef-ebc8-42a1-91bd-f79b620450e3","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"JH5nUG2Py47tSocS","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[240,620],"id":"fd6444d6-2490-4679-9727-39416db87874","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"0FlFlklwPx3y4vk4","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"0798ab37-a48e-4f2c-9695-8c9f7cde9cd9","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b6be7882-c5e5-43af-9217-94182dabdddf","name":"Webhook","webhookId":"0798ab37-a48e-4f2c-9695-8c9f7cde9cd9"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n    {\n    \"toolCallId\":{{ JSON.stringify(\"X\") }},\n      \"result\": {{ JSON.stringify($json.response) }}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[580,0],"id":"62ba6f8c-3b4a-455e-b277-fde292470a73","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Webhook":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Question and Answer Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f9e2fe16-2e8b-4ff4-a81f-9576b3495206","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}