document-data-extractor---webhook-72v8XbvpL7oJ6Jrb.json
{"createdAt":"2025-05-15T12:57:34.735Z","updatedAt":"2025-05-15T12:59:29.000Z","id":"72v8XbvpL7oJ6Jrb","name":"Document Data Extractor - Webhook","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"79e58f77-be44-4a25-9839-2bf7c4a07b08","name":"Upload File to Mistral","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"963ccadf-0ca6-44d5-a720-fb6f5a04ef49","name":"Get Signed URL","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"47f05f90-c1af-4e37-bf26-b3208213cb18","name":"Get OCR Results","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"jsCode":"const inputData = $input.all();\n\n// Check if input exists and has data\nif (!inputData || !inputData.length) {\n    return [{ markdown: '' }];\n}\n\n// Get all pages from input\nconst pages = inputData[0].json.pages;\n\n// // Check if pages exists and is an array\nif (!pages || !Array.isArray(pages)) {\n    return [{ markdown: '' }];\n}\n\n// // Sort pages by index and collect markdown\nconst combinedMarkdown = pages\n    .sort((a, b) => a.index - b.index)\n    .map(page => page.markdown)\n    .join('\\n\\n');\n\nreturn [{ \"markdown\": combinedMarkdown }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"a6153c1c-6e28-49f0-b373-fc2b376ff371","name":"Combine Pages"},{"parameters":{"tableId":"n8n_invoice_info_extract_data","fieldsUi":{"fieldValues":[{"fieldId":"execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"file_name","fieldValue":"={{ $('Webhook').item.binary.data0.fileName }}"},{"fieldId":"requested_data","fieldValue":"={{ $('Webhook').item.json.body.userInput }}"},{"fieldId":"signed_url","fieldValue":"={{ $('Get Signed URL').item.json.url }}"},{"fieldId":"scraped_data","fieldValue":"={{ $('Get OCR Results').item.json.pages }}"},{"fieldId":"markdown","fieldValue":"={{ $('Combine Pages').item.json.markdown }}"},{"fieldId":"result","fieldValue":"={{ $json.output }}"},{"fieldId":"mistral_id","fieldValue":"={{ $('Upload File to Mistral').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,0],"id":"f06207ea-32ed-4d0f-9e26-579c4b6218c7","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"2c0ee27e-b28a-4916-aa6e-7ef7442d36b1","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,0],"id":"e77e852f-b891-44e3-b5bc-67e977a2edf8","name":"Webhook","webhookId":"2c0ee27e-b28a-4916-aa6e-7ef7442d36b1"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1360,0],"id":"49f6e27e-fbbe-4ee5-9448-7585781119d1","name":"Respond to Webhook"}],"connections":{"Upload File to Mistral":{"main":[[{"node":"Get Signed URL","type":"main","index":0}]]},"Get Signed URL":{"main":[[{"node":"Get OCR Results","type":"main","index":0}]]},"Get OCR Results":{"main":[[{"node":"Combine Pages","type":"main","index":0}]]},"Combine Pages":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Upload File to Mistral","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aff1d3ab-fa90-4dd2-85e5-fd7693d72237","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}