error-workflow-vtjUHmqk0VbfP6aP.json
{"createdAt":"2025-04-30T18:09:20.710Z","updatedAt":"2025-04-30T19:15:59.000Z","id":"vtjUHmqk0VbfP6aP","name":"Error Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"fcc87d15-60c8-4970-9538-c81b22bf90d6","name":"Error Trigger"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08PS2NA2DT","mode":"list","cachedResultName":"n8n-errors"},"text":"=n8n Workflow Error at:\nWorkflow : {{ $json.workflow.name }}\nMessage : {{ $json.execution.error.message }}\nMode : {{ $json.execution.mode }}\nLast Node : {{ $json.execution.lastNodeExecuted }}\nurl : {{ $json.execution.url }}","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,0],"id":"2983a38c-9c4c-49a4-a9c7-0506de5a199d","name":"Slack","webhookId":"ddafbe88-8792-4f2b-94cb-fc447bd01162","credentials":{"slackApi":{"id":"fwemAnhKPVpm8AiM","name":"Slack account"}}},{"parameters":{"tableId":"n8n_errors","fieldsUi":{"fieldValues":[{"fieldId":"workflow_name","fieldValue":"={{ $json.workflow.name }}"},{"fieldId":"execution_id","fieldValue":"={{ $json.execution.id }}"},{"fieldId":"message","fieldValue":"={{ $json.execution.error.message }}"},{"fieldId":"mode","fieldValue":"={{ $json.execution.mode }}"},{"fieldId":"lastNodeExecuted","fieldValue":"={{ $json.execution.lastNodeExecuted }}"},{"fieldId":"stack","fieldValue":"={{ $json.execution.error.stack }}"},{"fieldId":"url","fieldValue":"={{ $json.execution.url }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[240,-200],"id":"d8b79c7f-ffc9-4b16-9bc4-940f142096bd","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"sendTo":"rusiruchathushanka95@gmail.com","subject":"=n8n Error at : {{ $json.workflow.name }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>n8n Error Notification</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f9f9f9;\n        }\n        .email-container {\n            background-color: white;\n            border-radius: 8px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n            padding: 25px;\n            border-top: 5px solid #ff6d6d;\n        }\n        .header {\n            text-align: center;\n            margin-bottom: 25px;\n        }\n        .header h1 {\n            color: #e64242;\n            margin: 0;\n            font-size: 24px;\n        }\n        .header img {\n            width: 80px;\n            margin-bottom: 15px;\n        }\n        .content {\n            background-color: #f5f5f5;\n            border-radius: 6px;\n            padding: 20px;\n            margin-bottom: 20px;\n        }\n        .field {\n            margin-bottom: 15px;\n            border-bottom: 1px solid #eee;\n            padding-bottom: 15px;\n        }\n        .field:last-child {\n            border-bottom: none;\n            margin-bottom: 0;\n            padding-bottom: 0;\n        }\n        .label {\n            font-weight: bold;\n            color: #555;\n            margin-bottom: 5px;\n            font-size: 14px;\n        }\n        .value {\n            font-family: monospace;\n            background-color: white;\n            padding: 10px;\n            border-radius: 4px;\n            border-left: 3px solid #ff6d6d;\n            word-break: break-word;\n        }\n        .footer {\n            text-align: center;\n            font-size: 12px;\n            color: #888;\n            margin-top: 20px;\n        }\n        .button {\n            display: block;\n            text-align: center;\n            background-color: #ff6d6d;\n            color: white;\n            text-decoration: none;\n            padding: 12px 20px;\n            border-radius: 4px;\n            font-weight: bold;\n            margin: 25px auto 10px;\n            width: 200px;\n            transition: background-color 0.2s;\n        }\n        .button:hover {\n            background-color: #e64242;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <img src=\"https://www.myqnap.org/wp-content/uploads/n8n-logo.png\" alt=\"n8n Logo\">\n            <h1>Workflow Error Alert</h1>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"field\">\n                <div class=\"label\">Workflow Name:</div>\n                <div class=\"value\">{{ $json.workflow.name }}</div>\n            </div>\n            \n            <div class=\"field\">\n                <div class=\"label\">Error Message:</div>\n                <div class=\"value\">{{ $json.execution.error.message }}</div>\n            </div>\n            \n            <div class=\"field\">\n                <div class=\"label\">Execution Mode:</div>\n                <div class=\"value\">{{ $json.execution.mode }}</div>\n            </div>\n            \n            <div class=\"field\">\n                <div class=\"label\">Execution ID:</div>\n                <div class=\"value\">{{ $json.execution.id }}</div>\n            </div>\n            \n            <div class=\"field\">\n                <div class=\"label\">Last Node Executed:</div>\n                <div class=\"value\">{{ $json.execution.lastNodeExecuted }}</div>\n            </div>\n            \n            <div class=\"field\">\n                <div class=\"label\">Time:</div>\n                <div class=\"value\">{{ $now }}</div>\n            </div>\n        </div>\n        \n        <a href=\"{{ $json.execution.url }}\" class=\"button\">View in n8n</a>\n        \n        <div class=\"footer\">\n            This is an automated notification from your n8n instance.\n            Please do not reply to this email.\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[240,200],"id":"ce48d692-cb4d-4406-997d-684506ed7e68","name":"Gmail","webhookId":"b587d1c2-1d94-41ed-8668-6e1e23b4b172","credentials":{"gmailOAuth2":{"id":"NYiOG8FBhXU7jY1o","name":"Gmail account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Slack","type":"main","index":0},{"node":"Supabase","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Slack":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72dcd43a-f0fc-4408-8bd9-03f854048a01","triggerCount":0,"tags":[{"createdAt":"2025-04-30T18:09:12.696Z","updatedAt":"2025-04-30T18:09:12.696Z","id":"csh3jFUvJHWW9Jyg","name":"Error"}]}