firecrawl-web-scraper-bt2XvLuAQLoQOHlr.json
{"createdAt":"2025-05-05T17:24:06.611Z","updatedAt":"2025-05-06T06:14:18.000Z","id":"bt2XvLuAQLoQOHlr","name":"Firecrawl Web Scraper","active":false,"nodes":[{"parameters":{"formTitle":"Web Scraper","formFields":{"values":[{"fieldLabel":"Web Site URL","placeholder":"Type the URL here...","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[60,220],"id":"9ad58b57-12d3-4811-9cdd-b73d6568666d","name":"On form submission","webhookId":"0858cda5-37e5-4b43-af43-ba579d2dd7bf"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/crawl","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json['Web Site URL'] }}\",\n  \"limit\": 100,\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\",\n      \"html\"\n    ]\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,220],"id":"6a614923-ef12-423d-8375-56d44cb342e0","name":"Extract Web Site","credentials":{"httpHeaderAuth":{"id":"h9eCbaRLXM9Ta5TA","name":"FireCrawl Header Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7860c784-348b-4f28-9af1-c15211d55774","leftValue":"={{ $json.status.toLowerCase() }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[740,220],"id":"183ebb94-2c72-4968-8ab1-b52d07aebaa6","name":"If"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,360],"id":"a2e4eea4-b919-40ee-aa57-c6e8759839cd","name":"Wait","webhookId":"275dcc27-ff16-4495-a359-75079da92fde"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/crawl/{{ $('Extract Web Site').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,220],"id":"0c8852da-b01b-4ffe-8f39-414660c212ed","name":"Check Job Status & Get Data","credentials":{"httpHeaderAuth":{"id":"h9eCbaRLXM9Ta5TA","name":"FireCrawl Header Auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"b8aef7ad-c31f-4d4f-a11a-fff2d556ca85","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,160],"id":"950e340d-36d4-4ac1-98f2-0c53d11cef09","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,160],"id":"60fda4ed-1585-4a43-a05a-574ccfa055da","name":"Split Out"},{"parameters":{"tableId":"n8n_FIreCrawl_Web_Scraper_Data","fieldsUi":{"fieldValues":[{"fieldId":"Crawl_ID","fieldValue":"={{ $('Extract Web Site').item.json.id }}"},{"fieldId":"Crawl_URL","fieldValue":"={{ $('Extract Web Site').item.json.url }}"},{"fieldId":"Requested_Site_URL","fieldValue":"={{ $('On form submission').item.json['Web Site URL'] }}"},{"fieldId":"Requested_Time","fieldValue":"={{ $('On form submission').item.json.submittedAt }}"},{"fieldId":"Execution_ID","fieldValue":"={{ $execution.id }}"},{"fieldId":"markdown","fieldValue":"={{ $json.markdown }}"},{"fieldId":"html","fieldValue":"={{ $json.html }}"},{"fieldId":"md_title","fieldValue":"={{ $json.metadata.title }}"},{"fieldId":"md_description","fieldValue":"={{ $json.metadata.description }}"},{"fieldId":"md_scrapeid","fieldValue":"={{ $json.metadata.scrapeId }}"},{"fieldId":"md_url","fieldValue":"={{ $json.metadata.url }}"},{"fieldId":"md_sourceurl","fieldValue":"={{ $json.metadata.sourceURL }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1380,160],"id":"90b881ab-41b2-46a7-a378-8d9c1d8d94a1","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract Web Site","type":"main","index":0}]]},"Extract Web Site":{"main":[[{"node":"Check Job Status & Get Data","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Check Job Status & Get Data","type":"main","index":0}]]},"Check Job Status & Get Data":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40be9b4b-92ea-48a2-92b4-1b340856350d","triggerCount":0,"tags":[{"createdAt":"2025-05-01T04:59:36.295Z","updatedAt":"2025-05-01T04:59:36.295Z","id":"EcgsYmXdzCV4RHEz","name":"Scrape"}]}