freight-rate-scraper-Etqfo7zfgOCl94Jz.json
{"createdAt":"2025-05-26T04:44:26.899Z","updatedAt":"2025-05-26T07:15:37.000Z","id":"Etqfo7zfgOCl94Jz","name":"Freight Rate Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f6f370bb-c816-4fb0-9226-8482f36c6d8c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,-100],"id":"ffb40676-534a-4018-8df3-4a2fab4d8432","name":"Webhook","webhookId":"f6f370bb-c816-4fb0-9226-8482f36c6d8c","disabled":true},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"Webhook Called\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[440,0],"id":"8fb369c7-1f2a-4697-8bdd-8d4d863c59ab","name":"Respond to Webhook","disabled":true},{"parameters":{"jsCode":"\nconst body = $input.all().values().\nreturn body;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"e70c9429-046e-42ad-a9f4-afd14f5f8aed","name":"Code","disabled":true},{"parameters":{"operation":"pdf","binaryPropertyName":"attachments","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,-220],"id":"42e70788-f21a-435d-9ccc-32de8b4ec8b2","name":"Extract from File","disabled":true},{"parameters":{"operation":"pdf","binaryPropertyName":"attachments","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[180,320],"id":"7e26772b-6ae3-4cb4-911d-4cc29d5100c8","name":"Extract Text from File"},{"parameters":{"httpMethod":"POST","path":"f6f370bb-c816-4fb0-9226-8482f36c6d8c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,320],"id":"02466dac-1512-48a3-b9a5-7b34b201dfaf","name":"Webhook1","webhookId":"f6f370bb-c816-4fb0-9226-8482f36c6d8c"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"message\": \"Shipping details extracted successfully.\", \"extractedDetails\": $json.choices[0].message.content ? JSON.parse($json.choices[0].message.content) : 'No details extracted or AI error.' } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1520,320],"id":"834015ac-4082-4c45-9a40-8f1443923f08","name":"Respond to Webhook1"},{"parameters":{"promptType":"define","text":"=Email Body : {{ $json.EmailBody[0] }}\n\nAttachmant File Content : {{ $json.text[0] }}","options":{"systemMessage":"You are an AI assistant. Your task is to extract shipping details from the provided text. The details to extract include: Origin, Destination, Vessel, Rate (for different container types if specified), Notes or Surcharges (like BAF, CAF, Security), Validity Start Date, Validity End Date, and any other relevant shipping information. Please respond with the extracted information in a structured JSON format. If some information is not present, omit the key or set its value to null."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[980,320],"id":"371e05f4-652b-4059-af74-ceb943ec3659","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[860,620],"id":"23791f5d-1e14-4d80-a235-bcb9b100182f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1100,640],"id":"90e3ad3b-a8a4-4573-af0b-6169a7d8df39","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.EmailBody = $('Webhook1').first().json.body.emailBody;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,320],"id":"8128f98e-722d-4eb1-9ec8-8f447f7c0a9a","name":"Code1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"},{"fieldToAggregate":"EmailBody"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[660,320],"id":"4402ef08-bff4-4333-8bbd-5ef32f274845","name":"Aggregate"},{"parameters":{"jsCode":"const itemJson = $input.item.json;\n\nconst webhookBodyData = itemJson.body; // Original JSON body from webhook\nconst extractedFileText = itemJson.text; // Text extracted by 'Extract from File'\n\nlet combinedContent = \"\";\n\n// Append webhook body content\nif (webhookBodyData) {\n  if (typeof webhookBodyData === 'string') {\n    combinedContent += \"Webhook Body Content:\\n\" + webhookBodyData + \"\\n\\n\";\n  } else if (webhookBodyData.emailBody && typeof webhookBodyData.emailBody === 'string') { \n    // Example: if your JSON body has a specific field like 'emailBody'\n    combinedContent += \"Email Body Content:\\n\" + webhookBodyData.emailBody + \"\\n\\n\";\n  } else if (typeof webhookBodyData === 'object') {\n    combinedContent += \"Webhook JSON Body:\\n\" + JSON.stringify(webhookBodyData, null, 2) + \"\\n\\n\";\n  }\n}\n\n// Append extracted file content\nif (extractedFileText) {\n  combinedContent += \"Extracted Document Content:\\n\" + extractedFileText;\n} else {\n  if (!webhookBodyData) { // Only add this if webhook body was also empty\n     combinedContent += \"No text content found in document.\";\n  }\n}\n\n// If both are empty, provide a default message\nif (combinedContent.trim() === \"\" || combinedContent.trim() === \"No text content found in document.\") {\n    combinedContent = \"No content provided in webhook body or attached file.\";\n}\n\nreturn { fullPrompt: combinedContent.trim() };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,80],"id":"e311de8e-c139-443e-9fba-824e76ad5e23","name":"Prepare Data for AI","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Extract from File","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Extract Text from File":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Extract Text from File","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ZCe7AKUS2EcMS7YJ"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2541c6ab-1f8d-44fc-b582-17257677b2cc","triggerCount":0,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}