google-maps-scraper-no-api-GvoiqP236FXR5H0k.json
{"createdAt":"2025-05-01T04:59:26.228Z","updatedAt":"2025-05-01T06:43:01.000Z","id":"GvoiqP236FXR5H0k","name":"Google Maps Scraper no API","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"cde81dd7-eb46-423b-9820-419c559f0ff7","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU","mode":"list","cachedResultName":"Scrape Google Maps Emails WITHOUT Paying for APIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Topic","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"c8b7d7e9-8669-4140-af86-a4883fdd92b8","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"0SYUzfKG5IlAK8aJ","name":"Google Sheets account"}}},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.Topic }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"eeb1d1c5-b8b8-41e1-9467-d2f98e534d8c","name":"HTTP Request"},{"parameters":{"jsCode":"function extractUrls($input) {\n  // Get data from first item\n  const data = $input.first().json.data;\n  \n  // Regular expression for matching URLs\n  const urlRegex = /https?:\\/\\/(www\\.)?[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+/gi;;\n  \n  // Find all URLs\n  const websites = data.match(urlRegex) || [];\n  \n  // Convert URLs to base URLs and remove duplicates\n  const uniqueWebsites = [...new Set(websites)].map(url => {\n    if (url.startsWith('www.')) {\n      return 'https://' + url;\n    }\n    return url;\n  });\n  \n  // Return in proper n8n format\n  return uniqueWebsites.map(website => ({\n    json: {\n      wesite: website\n    }\n  }));\n}\n\nreturn extractUrls($input);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"eac889fa-bcdd-4359-89ca-78daebaca5c3","name":"Code","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"862c48a4-2ac4-4748-a7a4-e7e95eadda49","leftValue":"={{ $json.wesite }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"d7558a16-f454-463c-b63d-1aee14f5a0ca","leftValue":"={{ $json.wesite }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"d4b89eb2-5783-4bad-a9cd-c4bbaa0dcd78","leftValue":"={{ $json.wesite }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}},{"id":"64198207-079c-4989-92f8-bfa4b818c898","leftValue":"={{ $json.wesite }}","rightValue":"ggpht","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[880,0],"id":"0d4e993d-8358-42fd-803b-a0d70406fcb2","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1100,0],"id":"85862b50-c535-4702-9fa7-3d4b9300a38f","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1540,0],"id":"5dc3b7b4-baa4-45f2-b84b-7915b51e4ee9","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.wesite }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,100],"id":"e3b77356-d62d-4af9-b9c4-0f2568cc8d01","name":"HTTP Request1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2200,100],"id":"35367f56-01e6-4c0c-8cad-3c3357950041","name":"Wait","webhookId":"95b835f9-1f41-4653-94f8-67929786f941"},{"parameters":{"jsCode":"function extractUrls($input) {\n  // Get data from first item\n  const data = $input.first().json.data;\n  \n  // Regular expression for matching URLs\n  const urlRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/gi;;\n  \n  // Find all URLs\n  const websites = data.match(urlRegex) || [];\n  \n  // Convert URLs to base URLs and remove duplicates\n  const uniqueWebsites = [...new Set(websites)].map(url => {\n    return url;\n  });\n  \n  // Return in proper n8n format\n  return uniqueWebsites.map(website => ({\n    json: {\n      wesite: website\n    }\n  }));\n}\n\nreturn extractUrls($input);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2420,100],"id":"4ad1cd62-76fc-4a48-b0d8-9fa2a72bd535","name":"Code1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c77f2a12-ca41-4be4-9756-1e018ffb1faf","leftValue":"={{ $json.wesite }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d61a6ba7-6e9a-4289-89b3-110117555eec","leftValue":"={{ $json.wesite }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2020,-160],"id":"1470214c-b40c-4cca-82ee-2421a056cf58","name":"Filter1","onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-100],"id":"eb187525-fb01-4843-91a5-dd893ce1a70a","name":"Wait1","webhookId":"2f9dbd0b-8f1c-4e73-ad5e-b9d8a1b27ea9"},{"parameters":{"fieldToSplitOut":"wesite","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,-160],"id":"e7b53abb-b632-4317-9a1f-5dfab6fc0ef6","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU","mode":"list","cachedResultName":"Scrape Google Maps Emails WITHOUT Paying for APIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":402057574,"mode":"list","cachedResultName":"Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11clc2wIme_bTXAATY7seRQ7SEz6S2CFg9uAK6rSpbWU/edit#gid=402057574"},"columns":{"mappingMode":"defineBelow","value":{"Emails":"={{ $json.wesite }}"},"matchingColumns":["Emails"],"schema":[{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2460,-160],"id":"a6f40ce8-e1d2-4b30-a781-5d52212cc5e5","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"0SYUzfKG5IlAK8aJ","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d905f72-2849-4bf8-9a50-92515b3c98e5","triggerCount":0,"tags":[{"createdAt":"2025-05-01T04:59:36.295Z","updatedAt":"2025-05-01T04:59:36.295Z","id":"EcgsYmXdzCV4RHEz","name":"Scrape"}]}