huggingface-flux-image-generation-6S1AapfhNnfZxp6M.json
{"createdAt":"2025-05-08T14:46:47.095Z","updatedAt":"2025-05-08T18:59:18.000Z","id":"6S1AapfhNnfZxp6M","name":"Huggingface FLUX Image Generation","active":false,"nodes":[{"parameters":{"formTitle":"Image generation","formDescription":"This form will allow you to generate images.","formFields":{"values":[{"fieldLabel":"Prompt","fieldType":"textarea","placeholder":"Input your Image Idea","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-120,-100],"id":"35d05b92-166f-407b-a1a9-9d14a05402ba","name":"On form submission","webhookId":"a7c5cb44-76c1-47d4-8902-89a684107054","disabled":true},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ $json.text }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"ef170bfd-4294-41a7-aa06-31d507d39ef7","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"JLdisNgnFkU8LKy2","name":"Huggingface Header Auth"}}},{"parameters":{"name":"={{ $execution.id }}-{{ $now }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1cuYVSV4mf7Ri-W0DDZLYlaz8SZfknIbg","mode":"list","cachedResultName":"4. Huggingface FLUX Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1cuYVSV4mf7Ri-W0DDZLYlaz8SZfknIbg"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[900,0],"id":"219e94a9-6f7b-4716-8b28-ababa898e180","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"Pvc6n05kZu1QK72a","name":"Google Drive account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,0],"id":"275090b6-b2ee-48a4-a651-5d254775d680","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[660,0],"id":"be0f13a7-a4ca-4813-9830-350d91b11a68","name":"Convert to File"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,160],"id":"6f6e1ced-f41d-446b-b326-a569b27de3e6","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"Create a Prompt for generate a Image from FLUX Image generation model. Image prompt needs to be a interesting topic to the audience\nImportant - Just give a prompt only"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-180,500],"id":"03f770b0-4b97-4e47-9503-c62b6e721ebf","name":"Basic LLM Chain"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,540],"id":"45509824-21ec-41e7-bacf-69070f398750","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"Create a Prompt for generate a Image from FLUX Image generation model. Image prompt needs to be a interesting topic to the audience.\nIF Topic is about Sri Lankan bikini girl on a fashion show it is much better.\nRequest the FullHD photo resolution\nImportant - Just give a prompt only"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-160,140],"id":"07e5cfa3-ba4d-4f2e-88bd-c4e12d6bcd29","name":"Basic LLM Chain1"},{"parameters":{"model":"perplexity/sonar","options":{"temperature":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,340],"id":"d282f9ee-18d7-444d-9af1-a4dd19ddc8bc","name":"Perplexity Sonar","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-pro-1.5","options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-260,360],"id":"bce85696-5749-4d8b-bf9b-aec4c50462a4","name":"Gemini","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"tableId":"n8n_huggingface_image_generator","fieldsUi":{"fieldValues":[{"fieldId":"image_id","fieldValue":"={{ $json.id }}"},{"fieldId":"prompt","fieldValue":"={{ $('HTTP Request').item.json.text }}"},{"fieldId":"name","fieldValue":"={{ $json.name }}"},{"fieldId":"image_link","fieldValue":"={{ $json.webViewLink }}"},{"fieldId":"image_download_link","fieldValue":"={{ $json.webContentLink }}"},{"fieldId":"thumbnail_link","fieldValue":"={{ $json.thumbnailLink }}"},{"fieldId":"image_size","fieldValue":"={{ $json.size }}"},{"fieldId":"execution_id","fieldValue":"={{ $execution.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,0],"id":"d9eff6f8-e800-4a23-ac3c-f0501cfcfa53","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[]]},"Basic LLM Chain1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Perplexity Sonar":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Gemini":{"ai_languageModel":[[]]},"Google Drive":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive":[{"json":{"kind":"drive#file","id":"18PMj_L3igp6t7ZuonT6lfu62Kw8UjkXf","name":"449-2025-05-08T23:18:52.952+05:30","mimeType":"image/png","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1cuYVSV4mf7Ri-W0DDZLYlaz8SZfknIbg"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=18PMj_L3igp6t7ZuonT6lfu62Kw8UjkXf&export=download","webViewLink":"https://drive.google.com/file/d/18PMj_L3igp6t7ZuonT6lfu62Kw8UjkXf/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/png","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOaQjr_shOJ44kbpUcE8o7_N7JHAmDpB0xf83gS2ZHcyZs3TaVtK1BoG0iaYU6Itx2E9ROy9vpCvtPjx6fhhBeIbncwDy9j7X0prun4o0LZpKY=s220","thumbnailVersion":"2","viewedByMe":false,"createdTime":"2025-05-08T17:48:54.550Z","modifiedTime":"2025-05-08T17:48:56.057Z","modifiedByMeTime":"2025-05-08T17:48:56.057Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Rusiru Chathushanka","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocITCrbIR0oLG9HSwKwRU4Gzsw1um2Q_figLGwVWBvSvCA7zlzG-=s64","me":true,"permissionId":"11764192981599529043","emailAddress":"rusiruchathushanka95@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Rusiru Chathushanka","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocITCrbIR0oLG9HSwKwRU4Gzsw1um2Q_figLGwVWBvSvCA7zlzG-=s64","me":true,"permissionId":"11764192981599529043","emailAddress":"rusiruchathushanka95@gmail.com"},"shared":false,"ownedByMe":true,"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"11764192981599529043","type":"user","emailAddress":"rusiruchathushanka95@gmail.com","role":"owner","displayName":"rusiruchathushanka95","deleted":false,"pendingOwner":false}],"permissionIds":["11764192981599529043"],"originalFilename":"Untitled","fullFileExtension":"","fileExtension":"","md5Checksum":"a50e9e4113542a27f4990b6f64bd6657","sha1Checksum":"4aa3e1c1ab3dd17638c2cd310b4fa5fb641d8a83","sha256Checksum":"d6cc505f70d275ac80857fcb779488fc341572976f7dd9e72c09ef152e6ce726","size":"1112796","quotaBytesUsed":"1112796","headRevisionId":"0B4zavZ9KbSLAWC9EYk43TjVXQzQ5NXIwOHdKNGRKWDg2c2RFPQ","imageMediaMetadata":{"width":1024,"height":1024,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}]},"versionId":"6e0fc80f-dfd2-4bb5-a93b-a09e9f6a3489","triggerCount":1,"tags":[{"createdAt":"2025-05-04T16:22:17.611Z","updatedAt":"2025-05-04T16:22:17.611Z","id":"hp9QM0JoizH0btBz","name":"image"}]}