image-generation-prompt-creation-Iy6fChPH3phssJY5.json
{"createdAt":"2025-05-12T07:10:33.921Z","updatedAt":"2025-05-12T08:22:59.000Z","id":"Iy6fChPH3phssJY5","name":"Image Generation Prompt Creation","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"71086b54-5a8a-4059-b3af-ce792146d9f3","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoJGmdADXsh1nIW","mode":"list","cachedResultName":"Image Gen Prompt Database","cachedResultUrl":"https://airtable.com/appoJGmdADXsh1nIW"},"table":{"__rl":true,"value":"tblUM6MxgJy2ajkv1","mode":"list","cachedResultName":"Idea","cachedResultUrl":"https://airtable.com/appoJGmdADXsh1nIW/tblUM6MxgJy2ajkv1"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[220,0],"id":"cf8846d3-9cc3-4edb-95ec-11c230cc97d3","name":"Airtable","credentials":{"airtableTokenApi":{"id":"3ZaglQ4P5x3wXc6T","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"=Create a Creative Prompt for generate a Image from {{ $json['Image Model'] }} Image generation model. \n\nImage prompt needs to be a following topic : {{ $json.Title }}\n\nImportant to include the following keywords : {{ $json.Keywords }}\n\nImportant - Just give a prompt only\n\nImage generated using this prompt should be acctract peoples attention."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[440,0],"id":"9f4e4ba7-966b-45f1-a9b0-bc96a2d2fb0c","name":"Basic LLM Chain"},{"parameters":{"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[440,260],"id":"89c11427-04f4-496f-b146-92308d5684d7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appoJGmdADXsh1nIW","mode":"list","cachedResultName":"Image Gen Prompt Database","cachedResultUrl":"https://airtable.com/appoJGmdADXsh1nIW"},"table":{"__rl":true,"value":"tbla1JRbyaTjYtsEL","mode":"list","cachedResultName":"Prompt","cachedResultUrl":"https://airtable.com/appoJGmdADXsh1nIW/tbla1JRbyaTjYtsEL"},"columns":{"mappingMode":"defineBelow","value":{"Idea Title":"={{ $('Airtable').item.json.Title }}","Keywords":"={{ $('Airtable').item.json.Keywords }}","Prompt":"={{ $json.text }}","Model":"={{ $('Airtable').item.json['Image Model'] }}","Status":"Todo"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Idea Title","displayName":"Idea Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[800,0],"id":"4965974d-80cc-4b11-bc69-41ad4d3cff7e","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"3ZaglQ4P5x3wXc6T","name":"Airtable Personal Access Token account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3dc3b085-dea8-4c17-b223-931bb8292445","triggerCount":0,"tags":[{"createdAt":"2025-05-04T16:22:17.611Z","updatedAt":"2025-05-04T16:22:17.611Z","id":"hp9QM0JoizH0btBz","name":"image"}]}