invoice-information-extractor---webhook-BCkGRmFWkigA2R2f.json
{"createdAt":"2025-05-14T05:18:26.270Z","updatedAt":"2025-05-16T05:47:59.000Z","id":"BCkGRmFWkigA2R2f","name":"Invoice Information Extractor - Webhook","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"0a97c8c7-5f41-4295-a845-ef6ee3a00b94","name":"Upload File to Mistral","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"1bd885df-778d-4ffd-b6b5-a1307392ea7d","name":"Get Signed URL","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"403c54b5-001a-4153-8bf3-98468ff84032","name":"Get OCR Results","credentials":{"httpHeaderAuth":{"id":"clfJNQxDZVBTIKZ0","name":"Mistral Header Auth"}}},{"parameters":{"jsCode":"const inputData = $input.all();\n\n// Check if input exists and has data\nif (!inputData || !inputData.length) {\n    return [{ markdown: '' }];\n}\n\n// Get all pages from input\nconst pages = inputData[0].json.pages;\n\n// // Check if pages exists and is an array\nif (!pages || !Array.isArray(pages)) {\n    return [{ markdown: '' }];\n}\n\n// // Sort pages by index and collect markdown\nconst combinedMarkdown = pages\n    .sort((a, b) => a.index - b.index)\n    .map(page => page.markdown)\n    .join('\\n\\n');\n\nreturn [{ \"markdown\": combinedMarkdown }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"c909b4f2-71d1-4587-91cb-5f5e56e5ece1","name":"Combine Pages"},{"parameters":{"promptType":"define","text":"=# You are an Information Extractor Agent\n\nYou will receive two inputs:\n\nText Input: The main text to extract information from.\nExtraction Items: A list of specific items or fields to extract from the input text.\n\n## Instructions:\n\nFor each item in the Extraction Items list, search the Text Input and extract the relevant information.\nIf an item is not present in the text, return null or an empty string for that item.\nPresent the results in a structured JSON object, where each key is the item to extract and the value is the extracted information.\n\nExample Output Format:\n\n{\n  \"item1\": \"extracted value or null\",\n  \"item2\": \"extracted value or null\",\n  \"item3\": \"extracted value or null\"\n}\n\nInputs:\n\nText Input: {{ $json.markdown }}\n\nExtraction Items: : {{ $('Webhook').item.json.body.userInput }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1100,0],"id":"308c4050-0bb9-4ee4-9590-e104f1e3021c","name":"AI Agent"},{"parameters":{"model":"openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1060,260],"id":"55127d0e-9439-43ea-a3e8-7ae67cc2f071","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","tableName":"n8n_invoice_info_extract_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1220,260],"id":"ac7ab2f2-997f-4ac8-b146-741ad122e270","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"tableId":"n8n_invoice_info_extract_data","fieldsUi":{"fieldValues":[{"fieldId":"execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"file_name","fieldValue":"={{ $('Webhook').item.binary.data0.fileName }}"},{"fieldId":"requested_data","fieldValue":"={{ $('Webhook').item.json.body.userInput }}"},{"fieldId":"signed_url","fieldValue":"={{ $('Get Signed URL').item.json.url }}"},{"fieldId":"scraped_data","fieldValue":"={{ $('Get OCR Results').item.json.pages }}"},{"fieldId":"markdown","fieldValue":"={{ $('Combine Pages').item.json.markdown }}"},{"fieldId":"result","fieldValue":"={{ $json.output }}"},{"fieldId":"mistral_id","fieldValue":"={{ $('Upload File to Mistral').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1480,0],"id":"2a592142-45e5-4241-9a0a-01ff09877db6","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"ec0b26fa-7cd9-4660-b79e-335bf4967658","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,0],"id":"1f0d3a2d-34a7-496a-8b85-dc348d3a1fd5","name":"Webhook","webhookId":"ec0b26fa-7cd9-4660-b79e-335bf4967658"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1720,0],"id":"4d97d82b-68d7-4874-8e78-108cc889f920","name":"Respond to Webhook"}],"connections":{"Upload File to Mistral":{"main":[[{"node":"Get Signed URL","type":"main","index":0}]]},"Get Signed URL":{"main":[[{"node":"Get OCR Results","type":"main","index":0}]]},"Get OCR Results":{"main":[[{"node":"Combine Pages","type":"main","index":0}]]},"Combine Pages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Upload File to Mistral","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f37a57d-4a7a-4760-b37f-017aaadd6f6b","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}