n8n-workflow-backups-via-github-Jk5C7YN84jQ2xNug.json
{"createdAt":"2025-05-06T16:32:36.964Z","updatedAt":"2025-05-09T18:44:35.000Z","id":"Jk5C7YN84jQ2xNug","name":"n8n Workflow Backups via Github","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"129493f3-82b3-49d5-a120-7f5a20f772d2","name":"Schedule Trigger","disabled":true},{"parameters":{"returnAll":false,"limit":1,"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"790560b5-e96f-4bc1-8bcf-1afdeb043fd0","name":"n8n","credentials":{"n8nApi":{"id":"K21p2ZZ2UkLyPcYk","name":"n8n account"}},"disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,380],"id":"874d142f-bff7-4560-affe-b8ff4fd7d72c","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f2a858f0-459e-434a-be96-1e9a52b21e9f","name":"repo.owner","value":"RusiruChathushanaka","type":"string"},{"id":"23d90390-865f-4c30-92b8-f6d4e6c6316e","name":"repo.name","value":"all_n8n_workflows","type":"string"},{"id":"293e28e4-2212-4da2-8d1f-891cf75bab18","name":"repo.path","value":"rusiru_n8n/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,380],"id":"de57a181-d362-4295-b258-ab433117ae27","name":"Edit Fields","disabled":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo.name }}","mode":"name"},"filePath":"="},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[660,380],"id":"34755bb5-ce52-402d-b20b-cd26a1ae2458","name":"GitHub","webhookId":"382996dd-d1b5-4177-915a-5006af020bcb","alwaysOutputData":false,"retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"WgsHyOyaVGElHOJr","name":"GitHub account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b47e856-6328-4b80-8db8-27f9edaf2f7e","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,320],"id":"b1afb0eb-db2e-4106-96e5-11820fe40b59","name":"If","disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,240],"id":"a32eb0dd-7df5-4957-8158-274f90e81955","name":"Aggregate","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1000,1460],"id":"c1d16be6-c6c2-46d7-92c2-72c15f804880","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[340,700],"id":"68aa878e-fc3c-4974-8a81-5c6f133f237c","name":"Date & Time","disabled":true},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[560,700],"id":"eb399f7c-3eb2-428d-85de-861a0e5fc25c","name":"Date & Time1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0edeb5dd-163a-463d-b6a1-c3e7080ad5a0","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,700],"id":"08660cb6-e89a-49eb-94ba-5788871e7fd6","name":"Edit Fields1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f2a858f0-459e-434a-be96-1e9a52b21e9f","name":"repo.owner","value":"RusiruChathushanaka","type":"string"},{"id":"23d90390-865f-4c30-92b8-f6d4e6c6316e","name":"repo.name","value":"all_n8n_workflows","type":"string"},{"id":"293e28e4-2212-4da2-8d1f-891cf75bab18","name":"repo.path","value":"rusiru_n8n/","type":"string"},{"id":"1ca7bb91-71b5-4f27-baed-84ddc0fe532e","name":"commitDate","value":"={{ $json.commitDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,700],"id":"f652fb59-01de-4efa-bb08-448e3a97a50f","name":"Edit Fields2","disabled":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo.name }}","mode":"name"},"filePath":"="},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1260,700],"id":"3f95fdd3-30f5-4435-8928-7b06d75b66c6","name":"GitHub1","webhookId":"457c729e-e40a-4abb-a109-f7de56a2bdb2","credentials":{"githubOAuth2Api":{"id":"WgsHyOyaVGElHOJr","name":"GitHub account"}},"disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1480,700],"id":"d966b223-49da-467d-a844-f5e91b686c26","name":"Aggregate1","disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1700,700],"id":"12b90034-e456-4d44-8b3b-17fc546918d2","name":"n8n1","credentials":{"n8nApi":{"id":"K21p2ZZ2UkLyPcYk","name":"n8n account"}},"disabled":true},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1920,700],"id":"d1748055-9ca7-4e16-8838-c2bbb0ad9abb","name":"Extract from File","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"id":"63679532-d01b-4759-8747-f1e5636afc13","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1200,1460]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"1d871f30-c52b-45da-8562-00e49b43dad5","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1400,1460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"1c3c0b10-8a83-4076-b742-0494cb4455db","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1600,1460]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo.name }}","mode":"name"},"filePath":"="},"id":"5ef2b188-4145-46fc-b8ef-083295b72458","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1800,1460],"alwaysOutputData":true,"webhookId":"b169b7cb-f128-4f20-ba49-4f9ce05d5014","credentials":{"githubOAuth2Api":{"id":"WgsHyOyaVGElHOJr","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"afaee27a-0942-414e-ba13-163047e63bbb","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[2000,1460]},{"parameters":{"filters":{},"requestOptions":{}},"id":"a37be63d-b404-4ffc-a4a3-156c0fc1149d","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2200,1460],"credentials":{"n8nApi":{"id":"K21p2ZZ2UkLyPcYk","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"4a9a38a8-1594-45ea-9cf0-e42050c7048a","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2400,1460]},{"parameters":{"batchSize":1,"options":{}},"id":"d3399d10-70f4-4d36-af97-45a5ef5e990c","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2640,1460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"39c72f2d-8d5a-47f2-ac7b-a0c7a078d19e","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,1380]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields3').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields3').item.json.repo.name }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"b07c1983-5b6f-4614-a6f0-6cba5b22ce82","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3100,1180],"webhookId":"11b85ff5-c589-471d-a7d7-027bfaef239e","credentials":{"githubOAuth2Api":{"id":"WgsHyOyaVGElHOJr","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields3').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields3').item.json.repo.name }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2e154fde-6dd1-47c7-b8fa-adedac6f6b08","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3100,1580],"webhookId":"cfe99bcd-2c13-445e-90cd-fe0fdf4a8481","credentials":{"githubOAuth2Api":{"id":"WgsHyOyaVGElHOJr","name":"GitHub account"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"95553765-9210-46d3-9b2e-b149271bdb85","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,1300]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"e622ad8f-ce1e-4f1b-984f-ac300cb34131","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1160,1300]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"8bb0a8e0-8c99-4f90-abfa-b8c37e19b8d5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,1300]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"a0ba3845-6cf4-4659-b11f-b8928fac7567","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2180,1300]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"3cd00bd5-1dfc-4bb0-92f5-3bd0dff420d0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2580,1040]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"2ce13bde-6467-4d09-9125-b512f9b5d512","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,1040]},{"parameters":{"assignments":{"assignments":[{"id":"f2a858f0-459e-434a-be96-1e9a52b21e9f","name":"repo.owner","value":"RusiruChathushanaka","type":"string"},{"id":"23d90390-865f-4c30-92b8-f6d4e6c6316e","name":"repo.name","value":"all_n8n_workflows","type":"string"},{"id":"293e28e4-2212-4da2-8d1f-891cf75bab18","name":"repo.path","value":"rusiru_n8n/","type":"string"},{"id":"1ca7bb91-71b5-4f27-baed-84ddc0fe532e","name":"commitDate","value":"={{ $json.commitDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,1060],"id":"b8a70c47-904b-4996-91b5-d15a85461780","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1000,1680],"id":"d977d73c-efea-4109-9502-b30472fd63a1","name":"Schedule Trigger1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"createdAt":"2025-04-30T17:48:42.925Z","updatedAt":"2025-05-01T04:13:37.000Z","id":"BQQmAK9f6m8w8IBb","name":"Scrape ANY Site → Instant Competitor-Intel PDF with ONE Slack Command","active":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C08QE0PJAJW","mode":"list","cachedResultName":"research_on_topic"},"options":{"userIds":["U08QF7TFJDA"]}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[0,0],"id":"2a681425-9c9f-4022-8d24-d5ec8786127e","name":"Slack Trigger","webhookId":"1983808d-0af2-4924-b4d3-8c1a9e1898cd","credentials":{"slackApi":{"id":"fwemAnhKPVpm8AiM","name":"Slack account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"f9293cfc-7522-4e9b-a11a-54af88a1f497","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[120,220],"id":"dc185565-b928-4d38-b5d5-93c83316ef60","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","tableName":"n8n_prompt_to_research","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,260],"id":"7711a4da-1d31-4d70-9a99-32e18a46718e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08QE0PJAJW","mode":"list","cachedResultName":"research_on_topic"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[580,0],"id":"e4ccc178-59de-4675-8e9e-aad4d6ae2c83","name":"Slack","webhookId":"533ae97f-40cb-4a71-9b64-226fa904b87c"}],"connections":{"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":null,"pinData":{},"versionId":"029c8335-5e27-4ce5-a62d-385419faa351","triggerCount":1,"tags":[]}}]},"versionId":"8b6c23af-7e79-467c-a166-c1ee9fc9e290","triggerCount":1,"tags":[]}