n8n-error-workflow-ZCe7AKUS2EcMS7YJ.json
{"createdAt":"2025-05-15T17:29:36.927Z","updatedAt":"2025-05-15T18:00:15.000Z","id":"ZCe7AKUS2EcMS7YJ","name":"n8n Error Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"71fad933-8886-43fd-812b-67e40df962c1","name":"Error Trigger"},{"parameters":{"chatId":"={{ $json.TelegramChatID }}","text":"=Error in n8n Workflow\n\nExecution ID : {{ $('Error Trigger').item.json.execution.id }}\n\nDate & Time : {{ $now.format('yyyy-MM-dd : HH:mm') }}\n\nMessage : {{ $('Error Trigger').item.json.execution.error.message }}\n\nLast Node Executed : {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\nLink : {{ $('Error Trigger').item.json.execution.url }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"id":"3e4010ae-3578-4284-9edc-1dd2d162ead8","name":"Telegram","webhookId":"8b663f1a-f1b0-4fae-b116-6c72a4943cb8","credentials":{"telegramApi":{"id":"7acVaSdPfgcAK4ET","name":"Telegram Error Bot Account"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"TelegramChatID\": 7570533394\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"9cdbc201-7c16-4a78-8dc4-4b4809a415fe","name":"Edit Fields"}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7a013c2-3365-4f6d-961b-471124240e61","triggerCount":0,"tags":[{"createdAt":"2025-04-30T18:09:12.696Z","updatedAt":"2025-04-30T18:09:12.696Z","id":"csh3jFUvJHWW9Jyg","name":"Error"}]}