scrape-any-site-→-instant-competitor-intel-pdf-with-one-slack-command-BQQmAK9f6m8w8IBb.json
{"createdAt":"2025-04-30T17:48:42.925Z","updatedAt":"2025-05-01T04:13:37.000Z","id":"BQQmAK9f6m8w8IBb","name":"Scrape ANY Site → Instant Competitor-Intel PDF with ONE Slack Command","active":false,"isArchived":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C08QE0PJAJW","mode":"list","cachedResultName":"research_on_topic"},"options":{"userIds":["U08QF7TFJDA"]}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[0,0],"id":"2a681425-9c9f-4022-8d24-d5ec8786127e","name":"Slack Trigger","webhookId":"1983808d-0af2-4924-b4d3-8c1a9e1898cd","credentials":{"slackApi":{"id":"fwemAnhKPVpm8AiM","name":"Slack account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"f9293cfc-7522-4e9b-a11a-54af88a1f497","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[120,220],"id":"dc185565-b928-4d38-b5d5-93c83316ef60","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","tableName":"n8n_prompt_to_research","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,260],"id":"7711a4da-1d31-4d70-9a99-32e18a46718e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08QE0PJAJW","mode":"list","cachedResultName":"research_on_topic"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[580,0],"id":"e4ccc178-59de-4675-8e9e-aad4d6ae2c83","name":"Slack","webhookId":"533ae97f-40cb-4a71-9b64-226fa904b87c"}],"connections":{"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":null,"pinData":{},"versionId":"029c8335-5e27-4ce5-a62d-385419faa351","triggerCount":1,"tags":[]}