sop-document-metadata-generator---webhook-gQYXuYMNiE6LfI3E.json
{"createdAt":"2025-05-16T05:54:08.437Z","updatedAt":"2025-05-16T06:15:27.000Z","id":"gQYXuYMNiE6LfI3E","name":"SOP Document Metadata Generator - Webhook","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"bc608663-6250-480b-96c9-5ed3c35ad211","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,0],"id":"5c97b6fa-5953-42d7-b1f7-6bb5e62aea62","name":"Webhook","webhookId":"bc608663-6250-480b-96c9-5ed3c35ad211"},{"parameters":{"respondWith":"text","responseBody":"={\n  \"data\": {{ $json.output.toJsonString() }}\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[780,0],"id":"05bc5ad5-598d-4d99-8c6a-ce4502e8e256","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"=You are an expert assistant designed to extract structured metadata from Standard Operating Procedure (SOP) documents.\nYour task is to analyze the provided SOP content and extract the following metadata fields.\nReturn your answer strictly as a single, valid JSON object matching the structure below.\nIf any metadata field cannot be found or inferred from the document, set its value to null.\nDo not add any extra commentary or explanation—output only the JSON.\n\nRequired Metadata Fields:\n\n    Title: The official name of the SOP.\n    Company: The entity to which the SOP belongs.\n    Department: The business unit responsible for the SOP.\n    Process: The specific process covered.\n    Version: Tracks updates and changes.\n    Effective Date: When the SOP becomes active.\n\nInstructions:\n\n    Carefully read the entire SOP content.\n    Extract each field as accurately as possible.\n    If a field is not present or cannot be inferred, set its value to null.\n    Always return a single, valid JSON object with all fields present in the specified order.\n    Do not include any text or explanation outside the JSON object.\n    Ensure the JSON is well-formed and valid.\n\nSOP Content:\n\n{{ $json.body }}\n\nImportant : Just give the summary.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,0],"id":"d9ec421e-5590-444f-a1d5-38e20a1b8ea4","name":"AI Agent"},{"parameters":{"model":"google/gemini-2.0-flash-lite-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[320,260],"id":"b30d63e5-fda0-4f8e-9670-3d88d90d568a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[560,260],"id":"98be223c-6825-4fba-86ec-dc836901fcff","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"content":"### URL : \nTest URL : https://n8n.srv810303.hstgr.cloud/webhook-test/bc608663-6250-480b-96c9-5ed3c35ad211\nProduction URL : https://n8n.srv810303.hstgr.cloud/webhook/bc608663-6250-480b-96c9-5ed3c35ad211","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-260],"id":"08abd11f-d46d-4ea4-acfa-1b0605d6dc99","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ZCe7AKUS2EcMS7YJ"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68a8959a-1efd-450b-8e66-3ef967a90c11","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}