sop-document-description-generator---webhook-OB47LjceoxqkGVvc.json
{"createdAt":"2025-05-16T04:05:07.567Z","updatedAt":"2025-05-16T05:49:44.000Z","id":"OB47LjceoxqkGVvc","name":"SOP Document Description Generator - Webhook","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"88a6ed50-6d98-4768-89fa-e0bdfd3dbce4","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,0],"id":"0adf56ad-10dd-43a0-aa11-713af83b0b11","name":"Webhook","webhookId":"88a6ed50-6d98-4768-89fa-e0bdfd3dbce4"},{"parameters":{"respondWith":"text","responseBody":"={\n  \"data\": {{ $json.output.toJsonString() }}\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[780,0],"id":"aa30fd44-d068-479a-85b6-f8b480b9ec3b","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"=Create a detailed, structured markdown summary of a PDF's content from its markdown text representation. The summary should be approximately 500 words, divided into clear, logical sections that capture the essence of the original document.\n\nSteps\nInput Analysis: Analyze the provided markdown text, identifying the key sections, topics, arguments, and any structural elements (headings, subheadings) present in the original PDF.\nContent Synthesis: Synthesize the information from various sections into a cohesive narrative, ensuring all main points are addressed and accurately represented. Maintain the logical flow and relationships between different parts of the original document.\nSummary Generation: Compose a markdown-formatted summary that is approximately 500 words in length. Structure the summary with clear sections and headings/subheadings, mirroring the organization of the original PDF as closely as possible.\nFormatting and Clarity: Ensure the summary is well-formatted, easy to read, and accurately reflects the original document's key points, arguments, findings, and structure.\nOutput Format\nProvide a markdown-formatted summary of approximately 500 words. The summary should be well-structured with clear sections and headings/subheadings to enhance readability. The output should accurately reflect the content and structure of the original PDF, as represented by the provided markdown text.\n\nPDF Text\n\n{{ $json.body }}\n\nImportant : Just give the summary.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,0],"id":"037cd9ab-b40a-4a52-8a44-aaa7ca97fca0","name":"AI Agent"},{"parameters":{"model":"google/gemini-2.0-flash-lite-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[320,260],"id":"94433447-0a11-4674-b34a-53279e19fe58","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[560,260],"id":"9ab35a3f-2fdd-4447-ac09-2ea087693048","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"content":"### URL : \nTest URL : https://n8n.srv810303.hstgr.cloud/webhook-test/88a6ed50-6d98-4768-89fa-e0bdfd3dbce4\nProduction URL : https://n8n.srv810303.hstgr.cloud/webhook/88a6ed50-6d98-4768-89fa-e0bdfd3dbce4","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-260],"id":"f189b487-de45-4e6d-8fe2-233c52aad087","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ZCe7AKUS2EcMS7YJ"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5bbd8623-0e64-45d5-a17f-0e73b6824192","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}