sop-document-metadata-update-Kj1b9phdzLDpm4jd.json
{"createdAt":"2025-05-02T06:48:44.545Z","updatedAt":"2025-05-16T05:48:37.000Z","id":"Kj1b9phdzLDpm4jd","name":"SOP Document Metadata Update","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3c5ee78d-83ac-4923-8f65-a7de0726d42f","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"operation":"get","tableId":"sop_documents","filters":{"conditions":[{"keyName":"uuid","keyValue":"={{ $json.query.UUID }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[360,120],"id":"63fe0c77-867f-45bb-804e-facd502f18de","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $('Supabase').item.json.content }}","messages":{"messageValues":[{"message":"=You are an expert assistant designed to extract structured metadata from given Input.\n\nReturn your answer strictly as a single, valid JSON object matching the structure below.\nIf any metadata field cannot be found or inferred from the document, set its value to null.\nDo not add any extra commentary or explanation—output only the JSON.\n\nRequired Metadata Fields:\n\n  Title: The official name of the SOP.\n  Company: The entity to which the SOP belongs.\n  Department/Division: The business unit responsible for the SOP.\n  Process: The specific process covered.\n  Version: Tracks updates and changes.\n  Effective Date: When the SOP becomes active.\n  Last Reviewed Date: Most recent review or update.\n  Author: Person or team who created or maintains the SOP.\n  Approver: Person or authority who approved the SOP.\n  Status: e.g., Draft, Active, Archived, Under Review.\n  Document ID: Unique identifier for tracking.\n  Related Documents: Links to other SOPs, forms, or policies.\n  Previous Version: Reference to the prior version.\n  Next Review Date: Scheduled date for the next review.\n  Confidentiality Level: e.g., Public, Internal, Confidential.\n  Keywords: For search and categorization.\n  Applicable Locations: Where the SOP applies (e.g., branch, plant).\n  Regulatory References: Laws, standards, or regulations the SOP supports.\n  Scope: Short summary of what the SOP covers.\n  Audience: Who should follow the SOP.\n  Attachments: Linked forms, checklists, diagrams.\n  Change History: List of changes with dates and authors.\n  Language: If your company operates in multiple languages.\n  Implementation Owner: Who is responsible for rollout.\n  Training Required: Whether training is needed for this SOP.\n  Expiration Date: If the SOP is time-limited.\n\n\nInstructions:\n\n    Extract each field as accurately as possible.\n    If a field is not present or cannot be inferred, set its value to null.\n    Always return a single, valid JSON object with all fields present in the specified order.\n    Do not include any text or explanation outside the JSON object.\n    Ensure the JSON is well-formed and valid."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1020,120],"id":"c67f5169-719b-4d45-ac2d-35de7179e712","name":"Basic LLM Chain","retryOnFail":true,"maxTries":2},{"parameters":{"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1020,360],"id":"242a7479-2a0e-4323-ad78-0b189f6fc954","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"original_filename\":\"{{ $('Edit Fields1').item.json.original_filename }}\",\n  \"upload_timestamp\":\"{{ $('Edit Fields1').item.json.upload_timestamp }}\",\n\"metadata\":{{ $json.data[0].toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,120],"id":"60236c90-f832-4982-a343-01dead01abe7","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1380,120],"id":"45eb4973-27ee-4471-ab93-3294092a5aba","name":"Aggregate"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"original_filename\": \"{{ $json.metadata.original_filename }}\",\n  \"upload_timestamp\": \"{{ $json.metadata.upload_timestamp }}\"\n}\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,120],"id":"4a3005c8-4541-49e1-8f0e-570a887d39c2","name":"Edit Fields1"},{"parameters":{"operation":"update","tableId":"sop_documents","matchType":"allFilters","filters":{"conditions":[{"keyName":"uuid","condition":"eq","keyValue":"={{ $('Supabase').item.json.uuid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"metadata","fieldValue":"={{ $json.data[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,120],"id":"acde12f5-3e1b-4374-885d-b7e2713f8998","name":"Supabase1","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1820,120],"id":"373b9c69-b053-45ad-ba0a-79cc53faa75a","name":"Aggregate1"},{"parameters":{"httpMethod":"POST","path":"ccd2a089-dd00-4073-872e-99d2c3b83599","responseMode":"responseNode","options":{"responseHeaders":{"entries":[{"name":"UUID"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,220],"id":"16677367-bb74-4d79-80d5-688baa44e897","name":"Webhook","webhookId":"ccd2a089-dd00-4073-872e-99d2c3b83599"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"metadata\": {{ $json.metadata.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2300,120],"id":"49dfea12-d4d6-41ce-9d70-a1f2343afa44","name":"Respond to Webhook"}],"connections":{"Supabase":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9286c3b-3067-4678-8748-07f06a976a65","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}