sop-single-document-q&a-lsGeWO9J20NAOdOb.json
{"createdAt":"2025-05-15T07:00:52.426Z","updatedAt":"2025-05-16T05:46:40.000Z","id":"lsGeWO9J20NAOdOb","name":"SOP Single Document Q&A","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"04b7d1b5-04f4-4212-ba3f-d56ed1eace68","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,-240],"id":"204caf43-abcc-4723-a2ee-5e65a6a01930","name":"Webhook","webhookId":"04b7d1b5-04f4-4212-ba3f-d56ed1eace68"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": {{ $json.output.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1480,-240],"id":"03d921e7-ff44-4feb-8293-41c24b9bf5ff","name":"Respond to Webhook"},{"parameters":{"operation":"getAll","tableId":"sop_documents"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,-240],"id":"f41ec614-56f4-4f4f-8a8b-f8e9082e62b4","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ecc49749-02c4-4756-a715-4837c38e6f01","leftValue":"={{ $json.filelocation }}","rightValue":"={{ $('Webhook').item.json.body.documentId }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[540,-240],"id":"789a1296-ae2a-48fb-af43-504b6d53a4bf","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"4250036f-3299-4a42-bc03-3987d8fccfd9","name":"filename","value":"={{ $json.filename }}","type":"string"},{"id":"78ce7442-86cc-4fa1-a66b-6ee87e4d07ae","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,-240],"id":"d1dfacae-0aa8-45bd-a53d-e9486f0a1eef","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are an helpfull Assistant.\n\nHere is the chat history of user asked questions : {{ $('Webhook').item.json.body.input }}\n\nuse following document & Content for give the answer for user's last question. use previous chat history for get the idea about the context.\n\nDocumnet Name : {{ $json.filename }}\n\nCocument Content : \n{{ $json.content }}\n\nCarefully anlyze the document and Give the answer for the user.\n\nGive the answer in markdown format to render it inside the chatbot.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[980,-240],"id":"5ddf52c5-3583-4a83-ba55-b398f99e1ccc","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[900,20],"id":"c46559aa-8277-4330-8d8e-759a418326e3","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1140,20],"id":"36c6ae15-8df2-4c86-bb77-e5bfe02e3949","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f59a9802-5fe1-4ca1-bafb-70891d90383f","triggerCount":1,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}