sop-documents-upload-2mex6NHO9SDU6WMv.json
{"createdAt":"2025-05-14T10:08:57.179Z","updatedAt":"2025-05-14T12:02:55.000Z","id":"2mex6NHO9SDU6WMv","name":"SOP Documents Upload","active":false,"nodes":[{"parameters":{"formTitle":"Upload SOP Documents","formFields":{"values":[{"fieldLabel":"Document","fieldType":"file","multipleFiles":false,"acceptFileTypes":"pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"3ad7f48c-e4ef-451d-8605-bc66ab9e393f","name":"On form submission","webhookId":"be79528c-f3c8-4324-a60c-1badb7aa3f9d"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"fileName\": \"{{ $('On form submission').item.json.Document.filename}}\",\n  \"fileType\": \"{{ $('On form submission').item.json.Document.mimetype }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"956e641f-65bf-4893-af8a-01970f7d8361","name":"Get Document Name & Type"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"location\": \"sop_documents\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"df5cd1a9-5fe6-4c0d-ab23-66db8642e65e","name":"Edit Fields"},{"parameters":{"authentication":"predefinedCredentialType","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"081dd44c-95ec-432b-a310-980ad692139b","name":"HTTP Request"}],"connections":{"On form submission":{"main":[[{"node":"Get Document Name & Type","type":"main","index":0}]]},"Get Document Name & Type":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get Document Name & Type":[{"json":{"fileName":"45b8a558-7868-4ddc-924a-98f41cf3c4f1-sop (1).pdf","fileType":"application/pdf"}}],"Edit Fields":[{"json":{"location":"sop_documents"}}]},"versionId":"91c2696e-6b5e-4dc7-a2bb-cae8714784f4","triggerCount":0,"tags":[{"createdAt":"2025-05-02T06:49:01.909Z","updatedAt":"2025-05-02T06:49:01.909Z","id":"Iryi6YFnuHzuPcv7","name":"DGL"}]}