viral-ai-news-generator-1ObPItW0j2e40JFG.json
{"createdAt":"2025-05-12T15:41:01.234Z","updatedAt":"2025-05-12T17:41:40.000Z","id":"1ObPItW0j2e40JFG","name":"Viral AI News Generator","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"5998191a-0e97-4de4-b540-17d556a5b7d4","name":"Schedule Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"url\": \"https://newsdata.io/api/1/news?\",\n  \"API_KEY\": \"pub_865258e44f3e9986dbf4a4954523e2d9135a5\",\n  \"search_term\": \"AI\",\n  \"category\": \"technology\",\n  \"language\": \"en\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,0],"id":"527fbc1b-6f37-4a99-9abf-89678baa7508","name":"Edit Fields"},{"parameters":{"url":"https://newsapi.org/v2/everything","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.search_term }}"},{"name":"from","value":"={{ $today.minus(1,'days') }}"},{"name":"sortBy","value":"popularity"},{"name":"apiKey","value":"95e6026d0ca14340b8d70ade51831bfb"},{"name":"language","value":"={{ $json.language }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"d7f05050-f790-4130-89e9-aba6bfbde6ff","name":"HTTP Request"},{"parameters":{"chatId":"=7570533394","text":"=Title : {{ $json.title }}\n\nDescription : {{ $json.description }}\n\nLink : {{ $json.url }}\n\nSource : {{ $json.source.name }}\nPublished at : {{ $json.publishedAt }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2220,-100],"id":"f6f1e597-f39b-4be5-be85-e74746c0dd94","name":"Telegram","webhookId":"a1050d93-9c15-40f3-b246-340b7077b538","credentials":{"telegramApi":{"id":"KPOEM4dH60iY9p3o","name":"Telegram AI News Bot Account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[20,280],"id":"4e61c2a1-b57f-4254-a8f9-3fb31c8fa056","name":"Telegram Trigger","webhookId":"d4f1e2df-52a0-447e-8d2b-d9edc3ce1765","credentials":{"telegramApi":{"id":"KPOEM4dH60iY9p3o","name":"Telegram AI News Bot Account"}},"disabled":true},{"parameters":{"fieldToSplitOut":"articles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,0],"id":"7acc9e17-068c-4356-821e-4fa206349c55","name":"Split Out"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1640,-100],"id":"952d0cb7-a312-4e51-91a5-230632b5641d","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"0bb2ca51-13d3-4a41-b498-eb4013048910","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"37834581-387f-4be3-b85f-ba9fe7b8d3ae","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"64661627-7931-4c5f-a785-2b377f8a1436","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"ad6660bf-afb1-465a-a6cb-72a3842ce4c7","name":"publishedAt","value":"={{ $json.publishedAt }}","type":"string"},{"id":"a1269734-0410-42db-88b1-c42bca9a147d","name":"source.name","value":"={{ $json.source.name }}","type":"string"},{"id":"17ec8c6d-ebc7-438d-9c2d-bfd342340824","name":"urlToImage","value":"={{ $json.urlToImage }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,-60],"id":"28cb8cbe-62bd-400b-8aca-550c9b0fd737","name":"Edit Fields2"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1400,-60],"id":"a0161dfe-f13a-49d8-8946-8e4e7d62fb62","name":"Limit"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1880,-100],"id":"b88c9258-8684-4522-9c7f-e60bae660771","name":"Split Out1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"498cebd6-3ec3-4e2d-8680-eefe51f11432","triggerCount":1,"tags":[{"createdAt":"2025-05-01T04:59:36.295Z","updatedAt":"2025-05-01T04:59:36.295Z","id":"EcgsYmXdzCV4RHEz","name":"Scrape"}]}