x-(twitter)-post-generator-6j03xsJSoPShZMNI.json
{"createdAt":"2025-05-09T16:11:25.257Z","updatedAt":"2025-05-09T17:54:23.000Z","id":"6j03xsJSoPShZMNI","name":"X (twitter) Post Generator","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[440,0],"id":"3fdc178a-99e4-449e-b678-ec6064071a3c","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"Briefly summarize 3 news topics for few word sentences. give these seperately to select one from those to the user in the next step.\n\n# Important: AI related news only...!","options":{"systemMessage":"=Your task is to search the web for get the most interesting AI tech news in recent days.\n\nToday is : {{ $now.format('yyyy-MM-dd') }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1040,0],"id":"08ff1dfe-39d3-4544-965d-f75e40806c1e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","tableName":"n8n_twitter_post_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1440,340],"id":"648310fb-643f-4a80-969b-fc36c706c6d1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3L0BjpaMuG3KHn2D","name":"Postgres account"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Chat ID').item.json.Chat_ID }}","message":"={{ $json.output }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Topic","placeholder":"Select a Topic to Generate a post."}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,0],"id":"a7864c3f-cfa8-4d05-846f-25ed1baff80b","name":"Telegram","webhookId":"f83aa08b-64aa-41bb-adc0-66eedf548209","credentials":{"telegramApi":{"id":"Lhbo3y60TEBNnxbr","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e417e814-a3fd-4d53-b05c-5e43aecacb8d","name":"Chat_ID","value":"=7570533394","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,0],"id":"33e07de0-433e-409d-8d6e-ca8707d7d580","name":"Telegram Chat ID"},{"parameters":{"promptType":"define","text":"=Topic : {{ $json.data.Topic }}","options":{"systemMessage":"# Overview\nYou are an AI Agent responsible for creating Twitter(X) posts.\n\n## Instruction\n1. Always use web search for get accurate details.\n2. Web search on user given topic.\n3. Summarize details for post on twitter.\n4. Add hashtags appropriately.\n5. Audiance enguagement is key.\n6. Write Professional, Interesting post.\n7. Use emogies if appropriate.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1680,0],"id":"b13b54d4-2431-487a-a413-c599500576aa","name":"AI Agent1"},{"parameters":{"model":"perplexity/sonar","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[980,360],"id":"59b1938f-fb88-43e3-9d3a-0e5a45db8c04","name":"Perplexity Sonar","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Chat ID').item.json.Chat_ID }}","message":"=Review this post :\n\n{{ $json.output }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Topic","fieldType":"textarea","placeholder":"Review the post & give your feedback."}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2120,0],"id":"b01b3dba-441e-45b6-aa25-51550840b12f","name":"Telegram1","webhookId":"f83aa08b-64aa-41bb-adc0-66eedf548209","credentials":{"telegramApi":{"id":"Lhbo3y60TEBNnxbr","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $('Telegram').item.json.data.Topic }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1880,280],"id":"7c73c3be-9566-4448-ae28-aaa1a7972f03","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"z9WAqLgw3KCCW7Zh","name":"Tavily Header Auth"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1660,300],"id":"d10a77d5-7ff3-40ca-b10e-49cc869c61f2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xas472ZBb2q9n8Hk","name":"OpenRouter account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Telegram Chat ID","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram Chat ID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Perplexity Sonar":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Colombo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"AI Agent":[{"json":{"output":"Here are three brief AI news topics for you to choose from:\n\n1. Ted Cruz seeks to expand AI use in America.  \n2. AI transforms design into a conversational process.  \n3. Trump proposes AI education starting in kindergarten."}}],"Telegram":[{"json":{"data":{"Topic":"Ai transforms design into a conversational process"}}}]},"versionId":"345f71f2-dfd6-43f9-8e50-bf112b5b0b61","triggerCount":0,"tags":[{"createdAt":"2025-05-09T16:11:42.091Z","updatedAt":"2025-05-09T16:11:42.091Z","id":"W4YrlA5FvDsyFXB5","name":"Social Media"}]}