youtube-transcript-generator-eci26zTkEqekzhlI.json
{"createdAt":"2025-05-06T12:38:44.215Z","updatedAt":"2025-05-06T13:44:12.000Z","id":"eci26zTkEqekzhlI","name":"Youtube Transcript Generator","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,-260],"id":"f44337f4-284a-45bb-942a-102e09820288","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-100,0],"id":"22017e05-4e1b-410f-adaa-d15af0fc2190","name":"Schedule Trigger"},{"parameters":{"tableId":"n8n_youtube_transcript_generator_data","fieldsUi":{"fieldValues":[{"fieldId":"execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"URL","fieldValue":"={{ $('Get URLs').item.json.URL }}"},{"fieldId":"Transcript","fieldValue":"={{ $('Get Transcript').item.json.transcript }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,0],"id":"23fc74a4-836b-4b9b-af28-76a19548279a","name":"Supabase","credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"method":"POST","url":" https://api.kome.ai/api/tools/youtube-transcripts","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_id\": \"{{ $json.URL }}\",\n    \"format\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"e5882a11-36d1-4f12-9149-63e43bbeb76c","name":"Get Transcript"},{"parameters":{"documentId":{"__rl":true,"value":"1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44","mode":"list","cachedResultName":"Youtube Transcript Generator","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"57d9bec0-eefd-4bd8-a58c-dee730fec2fc","name":"Get URLs","credentials":{"googleSheetsOAuth2Api":{"id":"0SYUzfKG5IlAK8aJ","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44","mode":"list","cachedResultName":"Youtube Transcript Generator","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Transcript","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EDnlTI99t7bd7LIH4imeuU3P_tdaQXGPIfmSogmpv44/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $('Get URLs').item.json.URL }}","Transcript":"={{ $json.transcript }}"},"matchingColumns":["URL"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[660,0],"id":"01c2ce16-4127-4965-a1f3-78dd9989b41e","name":"Update Transcript","credentials":{"googleSheetsOAuth2Api":{"id":"0SYUzfKG5IlAK8aJ","name":"Google Sheets account"}}},{"parameters":{"operation":"getAll","tableId":"n8n_youtube_transcript_generator_data","returnAll":true,"filterType":"none"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,-260],"id":"422cbbd1-bf14-4e87-a4ba-976f0a260f8a","name":"Supabase2","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"kqDK1r4UXr74mf35","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"20b0f3b4-80b9-4913-8a47-22c888409ba7","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"c2a4f8e6-92aa-470e-826e-07264f66498a","name":"URL","value":"={{ $json.URL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-260],"id":"da6e70c6-b17a-45bb-bfad-9c2f804f5e89","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"URL"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[780,-260],"id":"00d4c050-29e6-44eb-b7bc-18b57f17ea56","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get URLs","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get URLs","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]},"Get Transcript":{"main":[[{"node":"Update Transcript","type":"main","index":0}]]},"Get URLs":{"main":[[{"node":"Get Transcript","type":"main","index":0}]]},"Update Transcript":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vtjUHmqk0VbfP6aP","timezone":"Asia/Colombo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a607142-c715-4553-bb0e-90db296fb754","triggerCount":1,"tags":[{"createdAt":"2025-05-01T04:59:36.295Z","updatedAt":"2025-05-01T04:59:36.295Z","id":"EcgsYmXdzCV4RHEz","name":"Scrape"}]}